<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" *ngIf="isLoaded">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{parent.title}} - Statistic</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let field of fields">
              <td>{{field.title}}</td>
              <td>
                <rating *ngIf="field.rating" [(ngModel)]="collection[field.name]" [max]="maxRating" [readonly]="isReadonly"></rating>
                <input *ngIf="!field.rating" type="number" class="form-control" id="field.name" [(ngModel)]="collection[field.name]" required>
                <small *ngIf="field.isError" class="text-danger">{{field.textError}}</small>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <p *ngFor="let error of externalError" class="text-warning">{{error}}</p>
        </div>
        <button type="submit" (click)="onSubmit()" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</div>
