<app-edit-form (submitSuccess)="submitSuccess($event)" [elements]="elements" [service]="service"></app-edit-form>
<app-modal (submitSuccess)="submitModal($event)"></app-modal>
<table class="table table-hover">
  <thead class="thead">
    <tr [style.background]="getThemeColor()" class="text-white">
      <th [style.background]="getThemeColor(0)" class="col-md-1">
        <div dropdown *ngIf="nestedLevel==0" [(isOpen)]="searchIsOpen" on-mouseover="onSearchHover()">
          <span dropdownToggle class="glyphicon glyphicon-search"></span>
          <div class="search-menu" dropdownMenu aria-labelledby="search-dropdown">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchText" #searchInput>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </th>
      <!-- [style.width]="getThemeWidth()" -->
      <th *ngFor="let element of elements" (click)="onClickHeader($event, element)">
        {{element.header | uppercase}}
        <span *ngIf="element.value == sortableElement" [ngSwitch]="sortableType">
          <div *ngSwitchCase="'-'" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></div>
          <div *ngSwitchCase="'+'" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></div>
        </span>
        <span *ngIf="element.value != sortableElement && element.isSortable" class="glyphicon glyphicon-menu-down"></span>
      </th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let value of collection | filter : [searchText] | orderBy : [sortableType]+[sortableElement]; let i = index">
      <tr [ngClass]="{'marked-element': value.options.mark == 2 }" (click)="onClickElement($event, value)">
        <td class="text-white" [style.background]="getThemeColor(0)" scope="row">
          <p *ngIf="nestedLevel==0">{{i}}</p>
        </td>
        <td *ngFor="let element of elements">{{value[element.value]}}</td>
        <td>
          <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="onRemove($event, value)"></span>
          <span class="glyphicon glyphicon-edit" aria-hidden="true" (click)="onEdit($event, value)"></span>
          <span [ngSwitch]="markValid(value)" (click)="onMark($event, value)">
            <div *ngSwitchCase="2" class="glyphicon glyphicon-star" aria-hidden="true"></div>
            <div *ngSwitchCase="1" class="glyphicon glyphicon-star-empty" aria-hidden="true"></div>
          </span>
        </td>
      </tr>
      <tr *ngIf="nested && value.options.clicked">
        <td class="nested-table" colspan="6">
          <dcl-wrapper [type]="nested" [level]="nestedLevel" [parent]="value" [service]="service"></dcl-wrapper>
        </td>
      </tr>
    </ng-container>
    <tr class="row-add" (click)="onAdd($event)">
      <td class="text-white" [style.background]="getThemeColor(0)"></td>
      <td class="text-white" [style.background]="getThemeColor()" colspan="6">
        Add {{service.name}}
      </td>
    </tr>
  </tbody>
</table>
