<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th *ngFor="let element of elements" (click)="onClickHeader($event, element)">
        {{element.header | uppercase}}
        <span *ngIf="element.value == sortableElement" [ngSwitch]="sortableType">
          <div *ngSwitchCase="'-'" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></div>
          <div *ngSwitchCase="'+'" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></div>
        </span>
        <span *ngIf="element.value != sortableElement && element.isSortable" class="glyphicon glyphicon-menu-down"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let value of collection | orderBy : [sortableType]+[sortableElement]; let i = index">
      <tr (click)="onClickElement($event, value)">
        <td scope="row">{{i}}</td>
        <td *ngFor="let element of elements">{{value[element.value]}}</td>
      </tr>
      <tr class="nested-row" *ngIf="nested && value.clicked">
        <td colspan="5">
          <dcl-wrapper [type]="nested"></dcl-wrapper>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
